.MMM-Fish {
  width: 1200px;
  padding-top: 30px;
}

.fishTank {
  text-align: center;
}

.fish {
  display: inline-block;
}

.fishPic {
  width: 400px;
  vertical-align: middle;
}

.fishName {
  font-size: 100px;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
}
